/* apply.html style */


.container-box {
  margin-top: 50px;
  padding: 30px;
}

/* 첫번째 페이지 */
.title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-box > ul > li:nth-child(3) > a > b {
  color:red;
  font-weight: 700;
}
.notice-list > li {
  padding: 15px 0;
  font-size: 14px;
  color: #9C9C9C;
}
.notice-list > li img {
  float: right;
  width: 15px;
}
.check-btn {
  position: fixed;
  bottom: 70px;
  text-align: left;
  border: 1.5px solid #9C9C9C;
  border-radius: 6px;
  width: 88%;
  padding: 10px;
  margin: 0 6%;
}
.check-btn img {
  position: relative;
  top: 2px;
}
.check-btn span {
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}
.next-btn {
  display: block;
  background-color: #146DB6;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 18px;
  position: fixed;
  bottom: 0;
}


/* 두번째페이지(apply-01.html) */
.sub-title {
  font-size: 17px;
  font-weight: 700;
  margin: 30px 0 10px 0;
}
.underline {
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.2);
}
.search-box {
  display: flex;
}
.search-box > img {
  width: 25px;
  margin-right: 15px;
}
.search-input {
  border: none;
  background: #DBDBDB;
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  padding-left: 15px;
}
.small-check-btn-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.small-check-btn {
  text-align: left;
  border: 2px solid #9C9C9C;
  border-radius: 6px;
  padding: 6px;
}
.small-check-btn img {
  position: relative;
  top: 2px;
  width: 20px;
}
.small-check-btn span {
  margin-left: 10px;
  position: relative;
  bottom: 2px;
  font-size: 14px;
  font-weight: 600;
  color: #9C9C9C;
}
.check-card {
  opacity: 0.5;
  background: rgb(232, 244, 249);
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px 25px;
}
.check-card:nth-child(1){
  margin-top: 20px;
}
.check-card p {
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
}
.check-card p > em {
  color: #146DB6;
}
.check-card p:first-child {
  font-size: 18px;
  font-weight: 700;
}
.check-card.checked {
  opacity: 1;
  border: 2px solid #146DB6
}
.next-btn.left {
  left: 0;
  width: 50%;
  border-right: 1px solid #FFFFFF;
}
.next-btn.right {
  right: 0;
  width: 50%;
}

/* 세번째페이지(apply-02.html) */
.progress-bar {
  width: 100%;
  margin-bottom: 20px;
}
.table-box {
  display: flex;
  justify-content: left;
  margin: 10px 0;
  box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.25);
}
.table-box p {
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
}
.table-box p:first-child {
  background: #BBCCE2;
  width: 40%;
}