/* apply.html style */

* {
  box-sizing: border-box;
}

.container-box {
  margin-top: 50px;
  padding: 30px;
}

/* 첫번째 페이지 */
.title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container-box > ul > li:nth-child(3) > a > b {
  color:red;
  font-weight: 700;
}
.notice-list {
  margin-bottom: 100px;
}
.notice-list > li {
  padding: 15px 0;
  font-size: 14px;
  color: #9C9C9C;
}
.notice-list > li img {
  float: right;
  width: 15px;
}
.notice-cont {
  background: #c1e1ff46;
  margin-top: 10px;
  padding: 10px;
  display: none;
  line-height: 25px;
}
.notice-cont b {
  color: red;
}
tr, th, td {
  border: 1px solid #9C9C9C;
  font-size: 12px;
  text-align: center;
}
.check-btn {
  position: fixed;
  bottom: 70px;
  text-align: left;
  border: 1.5px solid #9C9C9C;
  color: #9C9C9C;
  border-radius: 6px;
  width: 88%;
  padding: 15px;
  margin: 0 6%;
  font-size: 15px;
  font-weight: 600;
  background: #fff;
}
.check-btn img {
  position: relative;
  top: 2px;
}
.check-btn span {
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}
.check-btn.clicked {
  border: 1.5px solid #146DB6;
  color : #146DB6;
}
.next-btn {
  display: block;
  background-color: #9C9C9C;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 18px;
  position: fixed;
  bottom: 0;
}
.next-btn.clicked {
  background-color: #146DB6;
}
.modal-box {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px; 
}
.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 60%;
  overflow: scroll;
  background-color: #fff;
  border: 2px solid #146DB6;
  border-radius: 15px;
  padding: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
.modal p:first-child {
  font-weight: 700;
  font-size: 17px;
}
.modal b {
  color: #146DB6;
}
.close-modal {
  display: block;
  background:#146DB6;
  padding: 5px 15px;
  color: #fff;
  margin: 10px 0;
  border-radius: 5px;
  float: right;
}


/* 두번째페이지(apply-01.html) */
.sub-title {
  font-size: 17px;
  font-weight: 700;
  margin: 30px 0 10px 0;
}
.underline {
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.2);
}
.search-box {
  display: flex;
}
.search-box > img {
  width: 25px;
  margin-right: 15px;
}
.search-input {
  border: none;
  background: #DBDBDB;
  padding: 15px;
  width: 100%;
  border-radius: 25px;
  padding-left: 15px;
}
.small-check-btn-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.small-check-btn {
  text-align: left;
  border: 2px solid #9C9C9C;
  border-radius: 6px;
  padding: 8px;
}
.small-check-btn.checked {
  border: 2px solid #146DB6;
}
.small-check-btn.checked span {
  color: #146DB6;
}
.small-check-btn img {
  position: relative;
  top: 2px;
  width: 20px;
}
.small-check-btn span {
  margin-left: 10px;
  position: relative;
  bottom: 2px;
  font-size: 15.5px;
  font-weight: 600;
  color: #9C9C9C;
}
.check-card {
  opacity: 0.5;
  background: rgb(232, 244, 249);
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px 25px;
}
.check-card:nth-child(1){
  margin-top: 20px;
}
.check-card p {
  font-size: 13px;
  font-weight: 500;
  margin: 10px 0;
}
.check-card p > em {
  color: #146DB6;
}
.check-card p:first-child {
  font-size: 18px;
  font-weight: 700;
}
.check-card.checked {
  opacity: 1;
  border: 2px solid #146DB6
}
.next-btn.left {
  left: 0;
  width: 50%;
  border-right: 1px solid #FFFFFF;
}
.next-btn.right {
  right: 0;
  width: 50%;
}

/* 세번째페이지(apply-02.html) */
.progress-bar {
  width: 100%;
  margin-bottom: 20px;
}
.table-box {
  display: flex;
  justify-content: left;
  margin: 10px 0;
  box-shadow: 0px 3px 9px -3px rgba(0, 0, 0, 0.25);
}
.table-box p {
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
}
.table-box p:first-child {
  background: #C1E1FF;
  width: 45%;
}