/* index.html style */

/* 초기설정 */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  background: inherit;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
}


/* 헤더 */
.header{
  background: #fff;
  height: 60px; 
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 60px;
}
.header button {
  padding: 5px;
  height: 60px;
}
.header > div {
  height: 60px;
  width: 33.3%;
  float: left;
}
.header-left img {
  margin: 10px 0 0 15px;
  width: 28px;
}
.logo{
  text-align: center;
}
.logo img {
  width: 55px;
  margin-top: 10px;
}
.header-right {
  text-align: right;
  padding-top: 3px;
  padding-right: 15px;
}
.header-right img {
  width: 23px;
  margin: 0 5px;
}
.header-right > button:nth-child(2) > img {
  margin-bottom: 2px;
}

/* 메인 아이콘 */
.container-top {
  margin-top: 80px;
  padding: 0 20px;
}
.main-big-icon {
  width: 100%;
}
.main-small {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
.main-small > a {
  display: inline;
  text-align: center;
  width: 32%;
}
.main-small-icon {
  float: left;
  width: 100%;
}

/* 서브 아이콘 (8개) */
.sub-link {
  height: 200px;
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(4, 1fr)
}
.sub-link > div {
  width: 100%;
  height: 80px;
  flex-direction: column;
  margin: auto;
  text-align: center;
}
.sub-link > div img {
  width: 35px;
  height: 45px;
}
.sub-link > div p {
  font-size: 0.85em;
  font-weight: 500;
  margin-top: 10px;
}

/* 원서 접수 중 시험 */
.first-cont {
  background: #ECECEC;
  padding: 30px;
  margin-top: 30px;
}
.box-title {
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}
.box-title > button {
  float: right;
  background-color: #357194;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
}
.test-box > ul li {
  padding: 10px 0;
}
.notice-title {
  font-size: 16px;
  font-weight: 700;
  color: #21557B;
}
.notice-date {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
}

/* 공지사항 */
.bbs-list {
  margin: 40px 30px;
}
.bbs-list .btn {
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-bottom: 5px;
}
.bbs-list .tab p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #CECECE;
  border-bottom: none;
  padding: 12px;
  font-size: 14px;
}
.bbs-list .tab p:last-child {
  border: 1px solid #CECECE;
}

/* 연락처 배너 */
.service-banner {
  margin: 0 30px 30px 30px;
  text-align: center;
}
.service-banner > div:nth-child(1) {
  background: #e8f4f983;
  ;
  padding: 20px;
}
.service-banner > div:nth-child(1) > p {
  font-size: 13px;
  color: #818181;
  margin-bottom: 5px;
}
.service-banner > div:nth-child(1) > p:nth-child(1) {
  font-size: 18px;
  color: #000;
  font-weight: 700;
}
.service-banner > div:nth-child(1) > p:nth-child(1) > em {
  font-size: 12px;
  color: #000;
  margin-bottom: 5px;
}
.service-banner > div:nth-child(2) {
  background: #357194;
  box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 15px;
}
.service-banner > div:nth-child(2) > img {
  width: 13px;
  margin-right: 5px;
}

/* footer */
.footer-menu {
  height: 50px;
  background-color: #626262;
  text-align: center;
  padding-top: 20px;
  font-size: 12px;
  color: #fff;
}
.footer-menu span {
  margin: 0 10px;
}
.footer-menu a:first-child {
  font-weight: 700;
}
.footer-copyright {
  height: 150px;
  background: #F4F4F4;
  padding: 40px;
  font-size: 10px;
}
.footer-copyright img {
  width: 150px;
}
.footer-copyright p {
  margin: 15px 0;
}
.footer-copyright > p:nth-child(2) {
  color: #146DB6;
}
.footer-copyright > p:nth-child(3) {
  color: #BBCCE2;

}


.black {
  display: none;
  border: 1px solid #000;
  width: 100vh;
  height: 100vh;
  background: #000;
  position: fixed;
  top:0;
  opacity: 30%;
}

.side-menu {
  width: 80%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  top: 0; 
  right:-80%;
  position: fixed;
  transition: 0.4s;
}
.menu-top-top {
  display: flex;
  justify-content: space-between;
}
.menu-top-left > p {
  margin: 10px 0;
}
.dday {
  font-size: 40px;
  font-weight: 700;
}
.menu-top-btn {
  font-size: 14px;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.menu-top-right > img:nth-child(1) {
  margin-right: 10px;
  vertical-align: top;
}
.side-menu-top {
  padding: 20px;
  padding-left: 25px;
  background-color: #146DB6;
  color: #fff;
}
.menu-top-bottom {
  text-align: center;
  margin-top: 30px;
}
.menu-top-bottom > img {
  margin: 0 5.5px;
}
.side-menu-bottom {
  overflow: scroll;
}
.side-menu-bottom > .search-box {
  margin: auto;
  margin-top: 10px;
  border-bottom: 1px solid #DBDBDB;
  width: 90%;
  padding: 10px 20px;
  border: 1px solid #DBDBDB;
  border-radius: 30px;
  background: #FAFAFA;
}
.side-menu-bottom > .search-box > img {
  float: right;
}
.side-menu-bottom > .search-box > input {
  border: none;
  background-color: inherit;
  width: 80%;
}
.navi {
  margin: 20px;
}
.navi li {
  text-align: left;
  margin-bottom: 10px;
}
.navi li > a {
  display: block;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}
.sub-menu {
  display: none;
  font-size: 15px;
  padding-left: 15px;
}
.sub-menu a {
  display: block;
  padding: 5px 10px;
}